{% extends "../base.html" %}
{% block content %}

<h1 class="page-title">Unsquat It!</h1>

<p>Remember that awesome domain you bought that night, for that project that was going to change the world? Yep, that's the one -- the one sitting in your godaddy account gathering dust.</p>

<p>It's OK -- you don't have to just let it sit there making you feel guilty for never doing anything.  </p>

<p>Now, there's a way to make sure that domain gets the highest and best use.</p>

<div class="row">
	<div class="col-sm-4">
		<h2>All domains</h2>
		<ul>
			{% for domain in domains %}
			<li>
				<a href="{{ domain.permalink() }}">{{ domain.name }}</a><br />
				<span class="text-muted">added {{ domain.date_created.strftime("%m/%d/%Y") }}</span>
			</li>	
			{% end %}
		</ul>
	</div>
	<div class="col-sm-8">
		<h2>Ideas</h2>
		<ul>
			<li>go here</li>
		</ul>
	</div>
</div<!-- /.row -->

{% end %}